In [1]:
import os

import pandas as pd
import pymongo

## ENV Variable setup

In [2]:
DB_NAME = os.environ["DB_NAME"]
COLLECTION_NAME = os.environ["COLLECTION_NAME"]
DB_CONNECTION_URL = os.environ["DB_CONNECTION_URL"]

DATASET = "heart_attack_prediction_dataset.csv"

In [3]:
df = pd.read_csv(DATASET)
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

## MongDB setup

In [ ]:
client = pymongo.MongoClient(DB_CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

Uploading data to mongodb

In [5]:
# df should be converted into dict before we push it to mongodb
data = df.to_dict(orient="records")
record = collection.insert_many(data)

getting data from monogodb

In [6]:
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,6810ac0a20a5b9b84a33ae56,BMW7812,67,Male,208,158/88,72,0,0,1,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,6810ac0a20a5b9b84a33ae57,CZE1114,21,Male,389,165/93,98,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,6810ac0a20a5b9b84a33ae58,BNI9906,21,Female,324,174/99,72,1,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,6810ac0a20a5b9b84a33ae59,JLN3497,84,Male,383,163/100,73,1,1,1,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,6810ac0a20a5b9b84a33ae5a,GFO8847,66,Male,318,91/88,93,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0